.sidebar{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  width: 72px;
  background-color: white;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(230,230,230);

  z-index: 200;
  padding-top: 5px ;
}

.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover{
  background-color: rgb(235, 232, 232);
  cursor: pointer;
}

.sidebar-link img{
  margin-bottom: 5px;
  height: 30px;
  width: 30px;
}

.sidebar-link div {
  font-family: Roboto,Arial;
  font-size: 10px;
}